<form method="GET">
  <button class="flex justify-between p-3 border border-solid border-black rounded-lg w-full font-bold text-start hover:bg-blue-300 shadow-xldelay-75 transition-all ease-out">
    <p><%- text %></p>
    <p><%- quantity %></p>
  </button>
</form>