<div class="rounded-lg overflow-hidden max-w-52">
  <div class="rounded-lg overflow-hidden">
    <img src="../public/images/witcher_3_cover_art.jpg" alt="game_img">
  </div>
  <div>
    <h3 class="font-bold">Witcher 3: Wild Hunt</h3>
    <p class="text-gray-400 leading-3 text-xs">CD Projekt</p>
  </div>
</div>