<form action=<%- route %> method="GET">
  <button class="p-3 border border-solid border-black rounded-lg w-full font-bold text-start shadow-xl hover:bg-blue-300 shadow-xldelay-75 transition-all ease-out
    <%= isActive ? 'bg-blue-300' : 'bg-gray-300' %>" isActive=<%= currentRoute %>>
    <%- text %>
  </button>
</form>