<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PowerUp | <%=title%></title>
  <link rel="stylesheet" href="/styles/output.css" />
  <script src="/javascript/helper.js" defer></script>
</head>

<body>
  <main class="flex p-4 gap-4 h-screen">
    <%- include('sidebar') %>
    <%- include('body') %>
  </main>
</body>

</html>