<section class="main w-4/5 border border-solid border-black p-10 rounded-lg">
  <button class="mb-10">
    <a href="/developers">

      < Back </a>
  </button>
  <div class="flex justify-between mb-3">
    <h1 class="font-bold text-3xl"><%=title%></h1>
  </div>
  <div>
    <form action="/developers/<%=id%>/update" method="POST">
      <div>
        <label for="developer_name" class="font-bold">Developer Name</label>
        <input id="developer_name" type="text" name="developer_name" class="block bg-gray-300 rounded-lg p-3 w-full max-w-96" placeholder="Enter a developer name...">
      </div>
      <button type="submit" class="py-3 px-10 bg-blue-300 rounded-lg font-bold mt-5 shadow-xl">Save</button>
    </form>
    <%- include("../partials/errors.ejs") %>
  </div>
</section>