<section class="main w-4/5 border border-solid border-black p-10 rounded-lg">
  <button class="mb-10">
    <a href="/developers">

      < Back </a>
  </button>
  <div class="flex gap-3">
    <div class="w-1/3">
      <img src="/public/images/witcher_3_cover_art.jpg" class="w-full rounded-lg" alt="game image">
    </div>
    <div class="w-2/3">
      <div class="mb-3">
        <h1 class="font-bold text-3xl">The Witcher 3: Wild Hunt</h1>
        <p>CD Projekt</p>
      </div>
      <div class="flex  gap-3 mb-3">
        <h2 class="font-bold">Release Date:</h2>
        <p>Jan 24, 2024</p>
      </div>
      <div class="mb-3">
        <h2 class="font-bold">Description:</h2>
        <p class="max-w-3xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime est nostrum voluptatibus temporibus nobis laudantium harum rerum dolor laboriosam quaerat!</p>
      </div>
      <div class="mb-3">
        <h2 class="font-bold">Genre:</h2>
        <ul class="flex gap-3">
          <li class="bg-gray-300 p-3 rounded-lg text-xs">Action</li>
          <li class="bg-gray-300 p-3 rounded-lg text-xs">Adventure</li>
        </ul>
      </div>
      <div class="flex gap-3 mb-3">
        <button class="p-3 max-w-28 w-full bg-blue-300 rounded-lg shadow-xl">Edit</button>
        <button class="p-3 max-w-28 w-full bg-red-400 rounded-lg shadow-xl">Delete</button>
      </div>
    </div>
  </div>
</section>